.nextprev-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 0.9rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--second-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.nextprev-btn.back {
  left: 1.5rem;
}

.nextprev-btn:hover {
  color: var(--main-color);
}
