.contact-box form {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.field {
  width: 100%;
  background: transparent;
  border: var(--border);
  border-radius: 0.3rem;
  padding: 0.8rem;
  font-size: 1rem;
  color: var(--text-color);
}

.contact-box .field::placeholder {
  color: var(--text-color);
}

.contact-box textarea {
  resize: none;
  height: 12.5rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  background: var(--main-color);
  border: var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
  color: var(--white-color);
  margin: 0 1rem;
  transition: 0.5s;
}

@media screen and (min-width: 350px) and (min-height: 700px) {
  .contact-box {
    padding: 2rem 0rem;
  }
  .contact-box h3 {
    font-size: 1.5rem;
  }
  .contact-box p {
    font-size: 1.1rem;
  }
  .contact-box form {
    gap: 1.5rem;
  }
  .contact-box .field {
    padding: 1rem;
    font-size: 1.1rem;
  }
  .contact-box textarea {
    height: 20rem;
  }
  .contact-box .btn {
    width: 10rem;
    height: 3.5rem;
    font-size: 1.1rem;
  }
}
