.portfolio-box .img-box {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 12.5rem;
  margin: 0 auto;
  /* border-radius: 0.5rem;
  border: var(--border); */
  overflow: hidden;
}

.portfolio-box .img-box img {
  /* object-fit: cover; */
  /* border-radius: 0.5rem; */
  transition: 0.5s ease;
  transform: scale(0.95);
}

/* .portfolio-box .img-box img:hover {
  transform: scale(1.1);
} */

.portfolio-box .info-box {
  margin: 1rem 0 1rem;
}

.portfolio-box .info-box .info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.portfolio-box .info-box .info-title h3 {
  font-size: 1.3rem;
  /* line-height: 1; */
}

.portfolio-box .info-box .info-title a {
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.portfolio-box .info-box .info-title a i {
  margin-left: 0.3em;
}

/* .portfolio-box .info-box p:nth-of-type(1) {
  font-weight: 600;
} */

.portfolio-box .btn-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 500rem;
  padding: 0.5rem 1rem;
  height: 2.25rem;
  background: var(--main-color);
  border: var(--border);
  border-radius: 0.3rem;
  font-size: 0.2rem;
  color: var(--white-color);
  transition: 0.5s;
  cursor: pointer;
}

.btn.secondary {
  background: transparent;
  color: var(--main-color);
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
}

.btn.secondary:hover {
  color: var(--white-color);
  background: var(--main-color);
}

.btn:focus {
  outline: none;
}

@media screen and (max-width: 1050px) {
  .portfolio-box .img-box {
    height: 12rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.15rem;
  }
  .portfolio-box .info-box p {
    font-size: 0.9rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 0.95rem;
  }
  .btn {
    width: 7.5rem;
    height: 2.25rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 935px) {
  .portfolio-box .img-box {
    height: 11rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.1rem;
  }
  .portfolio-box .info-box p {
    font-size: 0.85rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 0.9rem;
  }
  .btn {
    width: 7rem;
    height: 2rem;
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 350px) and (min-height: 700px) {
  .portfolio-box .img-box {
    height: 13rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.2rem;
  }
  .portfolio-box .info-box p {
    font-size: 1rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 1.05rem;
  }
  .btn {
    width: 7.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 390px) and (min-height: 800px) {
  .portfolio-box .img-box {
    height: 14rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.3rem;
  }
  .portfolio-box .info-box p {
    font-size: 1.1rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 1.15rem;
  }
  .btn {
    width: 8rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 390px) and (min-height: 850px) {
  .portfolio-box .img-box {
    height: 15rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.4rem;
  }
  .portfolio-box .info-box p {
    font-size: 1.1rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 1.25rem;
  }
  .btn {
    width: 8.5rem;
    height: 2.75rem;
    font-size: 0.925rem;
  }
}
