.portfolio-box .img-box {
  display: flex;
  justify-content: center;
  width: min-content;
  height: 12.5rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: var(--border);
  overflow: hidden;
}

.portfolio-box .img-box img {
  object-fit: cover;
  /* border-radius: 0.5rem; */
  transition: 0.5s ease;
}

.portfolio-box .img-box img:hover {
  transform: scale(1.1);
}

.portfolio-box .info-box {
  margin: 1rem 0 1rem;
}

.portfolio-box .info-box .info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.portfolio-box .info-box .info-title h3 {
  font-size: 1.3rem;
  /* line-height: 1; */
}

.portfolio-box .info-box .info-title a {
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.portfolio-box .info-box .info-title a i {
  margin-left: 0.3em;
}

.portfolio-box .info-box p:nth-of-type(1) {
  font-weight: 600;
}

.portfolio-box .btn-box {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  .portfolio-box .img-box {
    height: 12rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.15rem;
  }
  .portfolio-box .info-box p {
    font-size: 0.95rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 935px) {
  .portfolio-box .img-box {
    height: 11rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.1rem;
  }
  .portfolio-box .info-box p {
    font-size: 0.9rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 350px) and (min-height: 700px) {
  .portfolio-box .img-box {
    height: 13rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.4rem;
  }
  .portfolio-box .info-box p {
    font-size: 1.1rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 390px) and (min-height: 800px) {
  .portfolio-box .img-box {
    height: 14rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.5rem;
  }
  .portfolio-box .info-box p {
    font-size: 1.2rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 390px) and (min-height: 840px) {
  .portfolio-box .img-box {
    height: 15rem;
  }
  .portfolio-box .info-box .info-title h3 {
    font-size: 1.6rem;
  }
  .portfolio-box .info-box p {
    font-size: 1.3rem;
  }
  .portfolio-box .info-box .info-title a {
    font-size: 1.3rem;
  }
}
