.small-text {
  font-size: 0.65rem !important;
}

@media screen and (max-width: 1100px) {
  .small-text {
    font-size: 0.6rem !important;
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .small-text {
    font-size: 0.75rem !important;
  }
}

@media screen and (min-width: 400px) and (min-height: 812px) {
  .small-text {
    font-size: 0.8rem !important;
  }
}
